<h2>Olá, {{name}}!</h2>

<p>Obrigado por se cadastrar como empresa no Docsan!</p>

<p>Seu cadastro em nossa plataforma foi concluído com sucesso. Agora você pode começar a utilizar nossos serviços.</p>

<hr>

<p>Atenciosamente,<br>
Equipe Docsan</p>
